$primary-color: #ff4081;
$secondary-color: #333;
$background-color: #f9f9f9;


// .header {
//     text-align: center;
//     h1 {
//         color:  rgb(217, 0, 205);
//     }
// }


.header-wrapper {
    background-color: $primary-color;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .header-title {
    color: white;
    margin: 0;
  }
  
  .header-navbar {
    margin-top: 10px;
    display: flex;
    gap: 15px;
  }
  
  .header-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }